body {
	background: #fafafa;
	color: #002544;
	font-family: Arial;
	margin: 0;
	padding: 1em;
}
#appropedia {
	margin: auto;
	width: 1000px;
	max-width: 100%;
}
#appropedia-header {
	text-align: center;
	margin: 3em 0;
}
#appropedia-logo {
	max-width: 100%;
	height: auto;
}
#appropedia-main {
	margin: 3em 0;
}
#appropedia-filters {
	margin: 1em 0;
	overflow: scroll;
	padding: .5em 0;
	white-space: nowrap;
}
.appropedia-filter {
	appearance: none;
	background-color: #fff;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC );
	background-position: 100%;
	background-repeat: no-repeat;
	border: 1px solid #aaa;
	border-radius: 1em;
	font: inherit;
	padding: .5em 2em .5em 1em;
}
#appropedia-filter-type {
	width: 112px;
}
#appropedia-filter-format {
	width: 126px;
}
#appropedia-filter-language {
	width: 149px;
}
#appropedia-filter-sdg {
	width: 117px;
}
#appropedia-filter-publisher {
	width: 148px;
}
#appropedia-covers {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat( auto-fit, minmax( 150px, 1fr ) );
	margin: 1em 0;
	width: auto;
}
#appropedia-covers .appropedia-cover {
	cursor: pointer;
}
#appropedia-publication-dialog {
	border: 1px solid #aaa;
	padding: 0;
	width: 800px;
	max-width: 100%;
}
#appropedia-publication-dialog-close-button {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	font: inherit;
	font-size: 2em;
	margin: .5em;
}
#appropedia-publication-dialog-close-button:focus-visible {
	outline: none;
}
#appropedia-publication-dialog-content {
	padding: 1em;
}
#appropedia-publication-dialog .appropedia-publication-thumb {
	margin: 1em;
}
@media screen and ( min-width: 600px ) {
	#appropedia-publication-dialog .appropedia-publication-thumb {
		float: left;
		margin-top: 0; /* @todo This shouldn't be necessary */
	}
}
#appropedia-publication-dialog .appropedia-publication-details {
	margin: 1em;
	overflow: hidden;
}
#appropedia-publication-dialog .appropedia-publication-type {
	margin: 5px;
	font-size: 15px;
}
#appropedia-publication-dialog .appropedia-publication-title {
	font-size: 1.5em;
	margin: .5em 5px;
}
#appropedia-publication-dialog .appropedia-publication-subtitle {
	margin: 1em 5px;
}
#appropedia-publication-dialog .appropedia-publication-description {
	margin: 1em 5px;
}
#appropedia-publication-dialog .appropedia-publication-buttons {
	margin: 1em 5px;
}
#appropedia-publication-dialog .appropedia-publication-button {
	background-color: #efefef;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
	font: inherit;
	margin: 2px 0;
	padding: .5em;
}
#appropedia-publication-dialog .appropedia-publication-contents {
	margin: 1em 5px;
}
#appropedia-publication-dialog .show-contents-button {
	background: none;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC );
	background-position: 100%;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	font: inherit;
	padding: 0 2em 0 0;
}
#appropedia-publication-dialog .appropedia-play-button {
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
	margin-left: 5px;
	padding: 0;
}
#appropedia-footer {
	border-top: 1px solid #aaa;
	margin: 3em 0;
	padding: 1em;
	text-align: center;
}
#appropedia-footer a {
	margin-right: 10px;
}